/*font*/
$tremendous: 176px;
$gigantic: 162px;
$huge: 153px;
$h1: 40px;
$subtitle: 36px;
$h2: 34px;
$h3: 30px;
$considerable: 28px;
$major: 26px;
$large: 24px;
$great: 22px;
$big: 20px;
$main: 18px;
$small: 16px;
$little: 14px;
$tiny: 12px;

/*color*/
$back-main: #FAFAFA;
$back-not-main: #FFFFFF;
$black: #131313;
$dark: #000000;
$color: #FFC800;
$dashed: #FFF94F;
$hover: #FFD43D;
$color-pale: #FFFCCB;
$border: #D6D6D6;
$placeholder: #CBCBCB;
$data: #C7C7C7;
$input: #F8F8F8;

