@import 'components';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 600;
    font-size: $h1;
    line-height: 47px;
}

h2 {
    font-weight: 600;
    font-size: $h2;
    line-height: 40px;
}

h3 {
    font-weight: 500;
    font-size: $h3;
    line-height: 35px;
}

p {
    font-weight: 400;
    font-size: $main;
    line-height: 21px;
    margin: 0;
}

@media screen and (max-width: 1199px) {
    h2 {
        font-size: $considerable;
        line-height: 33px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: $great;
        line-height: 26px;
    }

    h2 {
        font-size: $great;
        line-height: 26px;
        text-align: center;
    }

    h3 {
        font-size: $great;
        line-height: 26px;
        text-align: center;
    }
}

/*custom on bootstrap*/
.accordion {
    --bs-accordion-border-radius: 20px;
    --bs-accordion-inner-border-radius: 20px;
    --bs-accordion-btn-focus-border-color: $color;
    --bs-accordion-active-color: $black;
    --bs-accordion-active-bg: $back-not-main;
    --bs-border-color: $back-not-main;
    --bs-accordion-btn-icon: url('../img/arrow-down.png');
    --bs-accordion-btn-active-icon: url('../img/arrow-cross.png');
    --bs-accordion-btn-padding-y: 30px;
    --bs-accordion-btn-padding-x: 15px;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid $color;
}

.accordion-button{
    &::after {
        width: 44px;
        height: 44px;
        background-size: 44px 44px;
        margin-right: 30px;
    }

    &:focus {
        border: none;
    }
}

.modal {
    --bs-modal-header-border-width: 0;
    --bs-modal-header-border-color: $back-not-main;
    --bs-modal-border-radius: 30px;

}

@media (max-width: 1199px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0;
    }

    .accordion-button{
        &::after {
            width: 28px;
            height: 28px;
            background-size: 28px 28px;
            margin-right: 0;
        }
    }

    .accordion {
        --bs-accordion-btn-padding-y: 23px;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
}